 # Angular - Frontend
/frontend/node_modules
/frontend/.angular
/frontend/dist
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/testem.log
/frontend/typings
/frontend/.idea
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace
/frontend/.vscode

# Spring Boot - Backend
/backend/target/
/backend/!.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
/backend/bin

# IDE-specific files
.idea/
.vscode/
*.iws
*.iml
*.ipr

# System files
.DS_Store
Thumbs.db